6 sept

In [ ]:
s="Hello World"
start= len(s) -1 
stop=-1
step=-1
for index in range (start,stop,step):
  letter=txt[index]
  print ("the index is {} and letter is {}".format(index,letter))

range(11, 0)

In [ ]:
s="aeyi"
start=0
stop=len(s)
step=1
for index in range (start,stop,step):
  letter=s[index]
  print (letter)
  if letter == 'a':
    print ("vowel")
  elif letter == 'e':
    print ("vowel")
  elif letter == 'i':
    print ("vowel")
  elif letter == 'o':
    print ("vowel")
  elif letter == 'u':
    print ("vowel")
  else:
      print ("consonant")

a
vowel
e
vowel
y
consonant
i
vowel

In [ ]:
s="aeyi"
start=0
stop=len(s)
step=1
for index in range (start,stop,step):
  letter=s[index]
  if letter =='a' or letter =='e' or letter =='i' or letter =='o' or letter =='u':
      print ("{} = vowel",format(letter))
  else: 
       print ("{} = consonant", format (letter))

{} = vowel a

In [ ]:
s = "This is new class"
start=0
stop=len(s)
step=1
for index in range (start,stop,step):
  letter=s[index]
  if letter =='a' or letter =='e' or letter =='i' or letter =='o' or letter =='u':
      print ("{} = vowel".format(letter))
  elif letter == " ":
      break   
  else: 
       print ("{} = consonant".format (letter))

T = consonant
h = consonant
i = vowel
s = consonant

7 sept

In [ ]:
txt="Hello World"
txt= txt.lower()
consonant=0
vowel=0
for index in range (0, len(txt), 1):
  letter=txt[index]
  if letter=='a' or  letter=='e' or  letter=='i' or  letter=='o' or  letter=='u':
    vowel=vowel+1
  elif letter == " ":
    continue
  else:
    consonant=consonant+1
print ("Vowel count {}". format(vowel))
print ("consonant count {}". format(consonant))

Vowel count 3
consonant count 7

Indexing

In [ ]:
txt = "Hello World "
a=txt[0:8]
b= txt + "hh"
c= txt * 3
print (a)
print (b)
print (c)

Hello Wo
Hello World hh
Hello World Hello World Hello World

String operation in python

In [ ]:
name = "de@"
name.replace("@", "a")

dea

)

In [ ]:
txt = "This will split all words"
txt.split("s")

['Thi', ' will ', 'plit all word', '']

In [ ]:
txt ="I Like Orange Apple Banana and Kiwi."
a= txt[7:26]
c= txt[30:35]
b=a +c 
b=b.lower()
d=b.split(" ")
print(d)

['orange', 'apple', 'banana', 'kiwi']

Replace

In [ ]:
txt ="I Like Orange Apple Banana and Kiwi."
txt=txt.replace("Like ", "")
print(txt)

I Orange Apple Banana and Kiwi.

List

In [ ]:
x=["aa", "bb", "cc", "dd"]
x[2]
x[0:3]

['aa', 'bb', 'cc']

In [ ]:
nums=[9,4,6,8,33]
for index in range (len(nums)):
    b=nums[index]
    print(" {} {} ". format(b,index))
for i in nums:
    print (i)

 9 0
 4 1
 6 2
 8 3
 33 4
9
4
6
8
33

Mean calculation

In [ ]:
nums=[1,2,3,4]
total=0
for item in nums:
     total= total + item
mean=total/len(nums)
print(mean)

2.5

Negative indexing

In [ ]:
nums=[1,2,3,4,5]
nums[-1:-3]
nums[0]=8
nums[1:3]=[9,8]
print(nums)

[8, 9, 8, 4, 5]

List methods

In [ ]:
cars= ['bmw', 'mercedes', 'audi', 'tesla']
cars.insert(2, 'pagani')
cars.append("honda")
cars=cars.append(["lambo", "ford"])
print(cars)

In [ ]:
cars= ['bmw', 'mercedes', 'audi', 'tesla', ['xx', 'yy']]
cars[4][0:]

['xx', 'yy']

STACK AND QUEUE IN PYTHON

In [ ]:
cars= ['bmw', 'mercedes', 'audi', 'tesla']
cars.append("cc")
cars.pop(1)
print (cars)

['bmw', 'audi', 'tesla', 'cc']

In [ ]:
cars= ['bmw', 'mercedes', 'audi', 'tesla']
bike=['duke', 'pulsar']
cars.extend(bike)
d= cars + bike
d.remove("bmw")
print(d)

['mercedes', 'audi', 'tesla', 'duke', 'pulsar', 'duke', 'pulsar']

sorting

In [ ]:
n=[33,6,5,0,44,-1]
n.sort()
n.sort(reverse=True)
sorted(n)
sorted(n reverse=True)
print(n)

[44, 33, 6, 5, 0, -1]

List comprehenssion

In [ ]:
n=[33,6,5,0,44,-1]
sq=[]
for item in n:
     sq.append(item ** 2)

In [ ]:
n=[33,6,5,0,44,-1]
[item ** 2 for item in n]

[1089, 36, 25, 0, 1936, 1]

In [ ]:
x=["APPLE", "MANGO", "XX"]
[item.lower() for item in x]

In [ ]:
x=["APPLE", "MANGO"]
lower=[]
for item in x:
    lower.append(item.lower())
print(lower)

['apple', 'mango']

In [ ]:
[item for item in range (-5,15) if item <=8]

[-5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
[0 if item<=0 else item for item in range (-5,15) if item <=8]

[0, 0, 0, 0, 0, 0, 1, 2, 3, 4, 5, 6, 7, 8]

Tuple

In [ ]:
t1=("apple", "banana", "cherry")
t2=("aa", "bb")
type(t1)
x=list(t1)
x[0]="xx"
d=tuple(x)
t1=t1+t2
print(d)
print(t1)

('xx', 'banana', 'cherry')
('apple', 'banana', 'cherry', 'aa', 'bb')

In [ ]:
input_data=[]
for i in range(5):
    input=int(input("enter no. "))
    input_data.append(input)

Set

In [ ]:
c={"aa", "bb", "cc"}
c.remove("aa")
c.add("dd")
print(c)
l=[1,2,4,7,6,2,10]
q=set(l)
print(q)
l1={1,2,4,7,6,10}
for item in l1:
 print(l1)

{'dd', 'bb', 'cc'}
{1, 2, 4, 6, 7, 10}
{1, 2, 4, 6, 7, 10}
{1, 2, 4, 6, 7, 10}
{1, 2, 4, 6, 7, 10}
{1, 2, 4, 6, 7, 10}
{1, 2, 4, 6, 7, 10}
{1, 2, 4, 6, 7, 10}

set operations

In [ ]:
A={"aa", "bb", "cc"}
B={"cc", "ee", "ff"}
A.union(B)
B.intersection(A)
A.difference(B)
A-B
B-A

{'ee', 'ff'}

Frozen set is a version of python set

Functions

In [ ]:
def add(a,b):
    c=a+b
    print("total is {}".format(c))
    return c
x= add(7,5)
x=x*5
print(x)

total is 12
60

In [ ]:
def greet (name,msg="good morning")

In [ ]:
def sum (a, b):
    global c 
    c=a +b
    return c

print(c)

11

In [ ]:
def sum (a, b):
    global c 
    c=a + b
    return c
def sub():
    print (c+5)
total=sum(5,6)
sub()

16

In [ ]:
x="awesome"
def myf():
    global x
    x="fanta"
print(x)
myf()
print ("python is " + x)

awesome
python is awesome

In [ ]:
l

# args and kwargs special keywords
args single star, tuple
kwargs double star, dictionary

In [ ]:
def add (a,b):
    c=a+b
    return a, b, c
add (4,5)
n1, n2, sum =add(4,5)
print (n1)

4

In [ ]:
x= int (input("enter no."))
def prime():
    for i in range (2,x):
         if x%i is 0:
            print ("true")
         else:
           print("false")

enter no.3

In [ ]:
def factorial (num):
    fact=1
    for index in range (1,num+1):
        fact=fact*index
    return fact
factorial (5)

120

recurssion

In [ ]:
def fact(num):
    if num==0 or num==1:
       return 1
    else:
       return num*fact(num-1)
fact(5)

120

pass= placeholder

OOP in pyton

In [ ]:
class person:
  pass
obj=person()
obj
print(type(obj))

In [ ]:
class flex:
     raw="plastic" #class attribute
     def __init__(self,color): #obj attr initlizer
        self.color=color #obj attr
redflex=flex("red")
redflex.raw
whiteflex=flex("white")
whiteflex.color
whiteflex.raw

'plastic'

In [ ]:
class flex:
     raw="plastic" #class attribute
     def __init__(self,color): #obj attr initlizer
        self.color=color #obj attr
     def display_color(self): #user defined method of a class
        print(self.color)
white=flex('white')
white.display_color()

white

inheritance

In [ ]:
class A:
    word="Apple"
class B:
    words="Ball"
obj=B()
obj.words

'Ball'

In [ ]:
class A:
    word="Apple"
class B(A):
    words="Ball"
    def __init__(self):
      super().__init__() #single inheritance
obj=B()
obj.word

'Apple'

In [ ]:
class comp:
  def __init__(self,ram,cpu):
      self.ram=ram
      self.cpu=cpu
class mobile(comp):
  def __init__(self,ram,camera,cpu):
       self.camer=camera
       super().__init__(ram,cpu)
m=mobile(108,8,4)
m.ram

108

Multiple Inheritance

In [ ]:
class father:
      def __init__(self, fathername):
          self.fathername= fathername
class mother:
       def __init__(self, mothername):
          self.mothername= mothername
class child (father, mother):
      def __init__(self, childname, fathername, mothername):
          self.childname=childname
          father. __init__(self, fathername)
          mother. __init__(self, mothername) 
      def family (self):
          print(" ", self.fathername)
          print(" ", self.mothername)
          print(" ", self.childname)

c=child("ll", "ram", "sita")
c.fathername
c.family()

  ram
  sita
  ll

In [ ]:
class Grandfather:
      gname="das"
class Father(Grandfather):
      fname="Ram"
      def __init__(self):
          super().__init__()
class Child (Father):
      def __init__(self, name):
          self.name=name
          Father.__init__(self)
c=Child("lov")
c.gname

'das'

Access specifier= private, public and protected

In [ ]:
class account:
     def __init__(self, name, bal):
         self.name=name
         self.bal=bal
     def __add__(self, otherobj):
         print(self.bal + otherobj.bal)

a1=account ("rr", 77888)
a2=account ("vv", 00900)
a1+a2

In [ ]:
import sqlite3
con = sqlite3.connect("student.db")
cur= con.cursor()
query=""" 
create table students(roll_no int not null, name, gender)
"""
cur.execute(query)

In [ ]:
insert_query="""
insert into students(roll_no, name, gender)
values
(1, 'stark', 'M'),
(2, 'Snoop', 'M'),
(3, 'Arya', 'F')
"""
cur.execute(insert_query)

SELECT

In [ ]:

read_query= """
select * from students
"""
cur.execute(read_query).fetchall()

[(1, 'stark', 'M'), (2, 'Snoop', 'M'), (3, 'Arya', 'F')]

In [ ]:
cur.execute("select * from students where gender='F' ").fetchall()

[(3, 'Arya', 'F')]

UPDATE

In [ ]:
update_query= """
update students
set name='Snoop Dogg'
where
roll_no=2
"""
cur.execute(update_query)

In [ ]:

cur.execute(read_query).fetchall()

[(1, 'stark', 'M'), (2, 'Snoop Dogg', 'M'), (3, 'Arya', 'F')]

DELETE

In [ ]:
delete_query="delete from students where roll_no=2"
cur.execute(delete_query)

In [ ]:
read_query= """
select * from students
"""
cur.execute(read_query).fetchall()

[(1, 'stark', 'M'), (3, 'Arya', 'F')]